STEEL BREAK/.vs
STEEL BREAK/*.csproj
STEEL BREAK/Library
STEEL BREAK/Temp/
STEEL BREAK/Library/
STEEL BREAK/obj/
STEEL BREAK/*.unitypackage
STEEL BREAK/*.sln
STEEL BREAK/UnityPackageManager
STEEL BREAK/*.collabignore
STEEL BREAK/AssetBundles/
STEEL BREAK/EXE/
STEEL BREAK/Logs/
STEEL BREAK/UserSettings/EditorUserSettings.asset
STEEL BREAK/UserSettings/Layouts/default-2022.dwlt